body,html
{
  /*  background-color: #ffffff !important;*/
background-image:url("../images/newnew.jpg") !important;
height: 100%;
margin:0;
background-repeat:no-repeat;
background-size: cover;
background-position:center;
}

.form-signin
{
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 30px;

background-color:#F5F5F5;

background: rgba(0, 0, 0, 0.3);

-webkit-border-radius: 16px;
-moz-border-radius: 16px;
border-radius: 16px;

border: 1px solid rgba(0,0,0,0.1);
}

#heading
{
    padding-bottom: 20px;
    color: white;
    text-size: 40px;
}
