/*!
 * Start Bootstrap - Business Casual Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700");

body,html
{
    background-color: #ebebeb;
    background-image:url("../images/img2.jpg") !important;
}
/*h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}*/



hr {
    max-width: 400px;
    border-color: #999999;
}

.brand,
.address-bar {
    display: none;
}

.navbar-brand {
    display:none;
}

.navbar-nav {
    font-weight: 400;
}

.img-full {
    min-width: 100%;
}


.brand-before {
    margin: 10px 0;
}



.tagline-divider{
    margin:15px 0;
    max-width: 100%;
    border-color: #999999;
}

.box {
    margin:10px;
    padding: 15px;
    background: #fff;
    background: rgba(255,255,255,0.9);
}

.intro-text {
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: 1px;
}

.img-border {
    float: none;
    margin: 0 auto 0;
    border: #999999 solid 1px;
}

.img-left {
    float: none;
    margin: 0 auto 0;
}

@media screen and (min-width:768px) {
    .brand {
        display: inherit;
        margin: 0;
        padding: 5px 0 3px 10px;
        text-align: left;
        text-shadow: 4px 4px 4px rgba(0,0,0,0.5);
        font-family: "Arial Black","Impact",Helvetica,Arial,sans-serif;
        font-size: 38px;
        font-weight: 400;
        line-height: normal;
        color: #ffffff;
    }

    .top-divider {
        margin-top: 0;
    }

    .img-left {
        float: left;
        margin-right: 25px;
    }

    .address-bar {
        display: inherit;
        margin: 0;
        padding: 0 0 10px 10px;
        text-align: left;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        font-size: 1.25em;
        font-weight: 400;
        color: #fff;
    }
}

@media screen and (min-width:1200px) {
    .box:after {
        content: '';
        display: table;
        clear: both;
    }
}
@media screen and (max-width:768px) {
    .navbar-brand {
        display:inherit;
        font-weight:900;
    }
}

.page-title{
    background-color: #336699;

}

.navbar-left > li:hover
{
    background-color: #336699;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    background: #0099ff;
}
.form-control{
    width: 100%;
}


div#header{
    width: 100%;
    height: 50px;
    background-color: #2c3e50;
    margin: 0 auto;

}

.logo{
    float:left;
    margin-top: 7px;
    margin-left: 10px;
}

.logo a{
    font-size: 1.3em;
    color: #fff;

}

.logo a span{
    font-weight: 300;
}

div#container{
    width: 100%;
    margin: 0 auto;

}

.sidebar{
    width: 250px;
    height: 200%;
    background-color: #171717;
    float: left;
}


ul#nav li{
    list-style: non

        ul#nav li a{
        color: #ccc;
        display: block;
        padding: 10px;
        font-size: 0.8em;
        border-bottom: 1px solid #0A0A0A;
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        transition: 0.2s;
    }
}

ul#nav li a:hover{
    background-color: #030303;
    color: #fff;
    padding-left: 30px;
}

ul#nav li a.selected{
    background-color: #030303;
    color: #fff;
}


.content{
    width: auto;
    margin-left: 250px;
    height: 100%;
    background-color: #95a5a6;
    padding: 15px;
}
.content p{
    color: #424242; 
    font-size: 0.73em;
}

div#box{
    margin-top: 15px;
}

div#box .box-top{
    color: #fff;
    text-shadow: 0px 1px #000;
    background-color: #2980b9;
    padding: 5px;
    padding-left: 15px;
    font-weight: 300;
}

div#box .box-panel{
    padding: 15px;
    background-color: #fff;
    color: #333;

}
.ajaxcontent{
    display:block;
    min-height: 300px;
}
.profileimage{
    display:block;
    min-height: 200px;
    max-height: 200px;
    overflow: hidden;
    margin-bottom: 20px;
}
.all-centre
{
    align-items: center;   
}
.borderline{
    border: solid thin;
    padding: 5Px;
    margin: 5px;

}
.tinytext{
    font-size: 12px;
}
.margin10
{
    margin-top: 10px;
}
.mylabel{
    white-space:normal;
}
.fulllength{
    width: 100%;
}
.big-checkbox {width: 100px; height: 100px;}